email-validator==2.0.0.post2
flask_sqlalchemy
Flask-WTF==1.1.1
GitPython==3.1.35
gunicorn==21.2.0
Jinja2==3.1.2
SQLAlchemy==2.0.20
virtualenv==20.17.1
WTForms==3.0.1
flask
pymysql
psycopg2
Bootstrap-Flask==2.3.0