.conainer-right {
    background-color: #9CB6C7;
}
.project-heading{
    text-align: left;
}
.project-heading span{
    font-weight: 600;
    font-size: 36px;
    padding: 0px 8px;
}
.project-heading p{
    padding: 28px 8px;
    letter-spacing: 1px;
}
.project-heading .heading{
    border-bottom: 2px solid blue;
    color: #173b6c;
    margin: 15px 0px;
    font-size: 31px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: #fff;
  padding: 10px;
  grid-gap: 5px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0px 0px 0px;
  text-align: center;
}
.grid-item img{
    box-shadow: 1px 2px 11px 2px #78878d;
    border-radius: 6px;
    height: 150px;
    width: 228px;
}
.grid-item a{
    color: #000;
    text-decoration: none;
}
.grid-item a h3:hover{
    color: rgba(20, 157, 221, 0.95);
    transition: 0.4s;
    cursor: pointer;
}