@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Playpen+Sans:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
/* ............................................... Left Part ........................................ */

.container-left {
    font-family: 'Libre Baskerville', serif;
    background-color: #040b14;
    color: white;
    height: 100%;
}

.profile-dp img {
    border-radius: 50%;
    outline: 5px solid #2c2f3f
}
.profile-dp h2{
    margin: 16px 0px 28px 0px;
}
.profile-dp {
    text-align: center;
    margin-top: 20px;
}

.profile-dp .soical-links {
    margin: 20px;
    text-align: start;
}
.soical-links a i{
    padding-left: 10px;
}
.profile-dp a {
    font-size: 16px;
    border-radius: 26px;
    color: white;
    background-color: #212431;
    padding: 6px 10px;
    margin-left: 10px;
}
.profile-dp a:hover{
    background-color: #007aff;
}
.navbar {
    margin: 42px 40px 28px 60px;
}
.navbar ul li{
    list-style: none;
    padding: 12px 15px;

}
.navbar ul li a i{
    padding-right: 8px;
}
.navbar ul li a:hover{
    color: #F5F7F8;
}
.navbar ul li.active a {
    color: #F5F7F8;
    background-color: yellow;
}
.navbar ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #bdb3b3;
}
.footer{
    text-align: center;
}
.copyright{
    font-size: 13px;
}
.footer .copyright span{
    font-weight: 800;
    color: wheat;
}
.footer .creator span{
    color: #007aff;
    font-weight: 700;
}
.footer .creator{
    margin-top: 6px;
    margin-bottom: 5px;
}

/* ........................... Right part ................................... */

.container-right {
    font-family: 'Libre Baskerville', serif !important;
    text-align: center;
    font-family: "Poppins", sans-serif;
    height: 100%;
    background-image: url("./images/home-bg.jpg");
    background-size: cover;
    background-position: right;
    opacity: 0.7;
    position: relative;
}
.container-right .name{
    margin-top: 230px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.container-right h1{
    color: #fff;
    margin: 0 0 10px 0;
    font-size: 59px;
    font-weight: 700;
    line-height: 56px;
}
.container-right p{
    color:#fff;
    font-family: "Poppins", sans-serif;
}

.animate {
    font-family: "Raleway", sans-serif;
    margin-top: 20px;
    display: block;
    font-size: 20px;
    color: #fff;
    display: inline-flex;
    overflow: hidden;
}
.animate .first-text{
    font-weight:500;
}
.animate .sec-text{
    font-weight:800;
    margin-left: 14px;
    font-size: 1.5em;
    position: relative;
    color: #CC838F;
}
.animate .sec-text:before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    animation: typing 3s steps(14) infinite;
}

@keyframes typing {

    40%, 60% {
        left: 100%;
    }
    100%{
        left:0%;
    }
}