{% include 'header.html' %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
{% endblock %}
<body>
    <div class="container">
        {% include 'base.html' %}
        <div class="conainer-right">
            <div class="about-me">
              <span class="heading">About</span>
              <p>Welcome to my portfolio! I am Abhimanyu Kumar, a passionate developer and creator, and this is the
                  space where I invite you to explore a selection of my most exciting projects. Each project is a
                  testament to my journey in the world of technology and design, a journey characterized by innovation,
                  perseverance, and a commitment to excellence..
              </p>
            </div>
            <div class="description">
                <div class="about-img">
                    <img src=" {{url_for('static', filename='images/download.jfif')}} " alt="s">
                </div>
                <div class="about-details">
                    <h3>Python Developer &amp; Cyber Security Expert.</h3>
                    <p class="fst-italic">
                      I am a Python developer with 3+ years of experience and make some really awesome projects that you
                        can view in my projects section.
                    </p>
                    <div class="row">
                      <div class="col-lg-6">
                        <ul>
                          <li><i class="fa fa-chevron-right"></i> <strong>Birthday:</strong> <span>19 June 2005</span></li>
                          <li><i class="fa fa-chevron-right"></i> <strong>Website:</strong> <span>www.itsabhi.com</span></li>
                          <li><i class="fa fa-chevron-right"></i> <strong>Phone:</strong> <span>+91 9279968628</span></li>
                          <li><i class="fa fa-chevron-right"></i> <strong>City:</strong> <span>Gaya, India</span></li>
                        </ul>
                      </div>
                      <div class="col-lg-6">
                        <ul>
                          <li><i class="fa fa-chevron-right"></i> <strong>Age:</strong> <span>18</span></li>
                          <li><i class="fa fa-chevron-right"></i> <strong>Degree:</strong> <span>Diploma</span></li>
                          <li><i class="fa fa-chevron-right"></i> <strong>Email:</strong> <span style="font-size: 13px;">imkarankumaroy8863@gmail.com</span></li>
                          <li><i class="fa fa-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                        </ul>
                      </div>
                    </div>
                </div>
            </div>

<!--     ..........................   Skills Section .................-->
            <div class="skills">
                <div class="about-me header">
                    <span class="heading">Skills</span>
                    <p>In my journey as a developer and creator, I've cultivated a diverse skill set that empowers me to
                        bring ideas to life and tackle complex challenges. These skills form the foundation of my work
                        and reflect my commitment to continuous learning and growth.</p>
                </div>
                <div class="row skills-content">

                  <div class="sections" data-aos="fade-up">

                    <div class="progress">
                      <span class="skill">HTML <i class="val">90%</i></span>
                      <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                      </div>
                    </div>

                    <div class="progress">
                      <span class="skill">CSS <i class="val">50%</i></span>
                      <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                      </div>
                    </div>

                    <div class="progress">
                      <span class="skill">JavaScript <i class="val">50%</i></span>
                      <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                      </div>
                    </div>

                  </div>

                  <div class="sections" data-aos="fade-up" data-aos-delay="100">

                    <div class="progress">
                      <span class="skill">Python <i class="val">80%</i></span>
                      <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                      </div>
                    </div>

                    <div class="progress">
                      <span class="skill">Cyber Security <i class="val">60%</i></span>
                      <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                      </div>
                    </div>

                    <div class="progress">
                      <span class="skill">Django <i class="val">55%</i></span>
                      <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;"></div>
                      </div>
                    </div>

                  </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>