{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% include 'header.html' %}
<body>
    <div class="container">
        {% include 'base.html' %}
        <div class="container-right">
            <div class="contact-me">
                <span class="heading">Contact</span>
                <p>
                    "Have questions or interested in collaborating? Feel free to reach out to me! I'm always open to
                    new opportunities and would love to connect with you.".
                    Fill the form to get in touch with me.
                </p>
            </div>
            <div class="frame">
                <div class="contact-location">
                    <div class="info">
                      <div class="address">
                        <i class="fa fa-map-marker"></i>
                        <h4>Location:</h4>
                        <p>A129 Bitho Sharif, Gaya, Bihar(India) 823003</p>
                      </div>

                      <div class="email">
                        <i class="fa fa-envelope"></i>
                          <h4>Email:</h4>
                        <p>imkarankumarroy8863@gmail.com</p>
                      </div>

                      <div class="phone">
                        <i class="fa fa-phone"></i>
                        <h4>Call:</h4>
                        <p>+91 9279968628</p>
                      </div>
                    </div>
                </div>
                <div class="contact-form">
                    <form method="POST" action="{{ url_for('contact') }}">
                        {{ form.csrf_token }}
                        <span class="label-area">{{ form.name.label }}{{ form.email.label }}</span><br>
                        <span class="input-area">{{ form.name(size=15) }}{{ form.email(size=15) }}</span><br>
                        {{ form.subject.label }}<br>
                        {{ form.subject(size=40) }}<br>
                        <div class="text-area">
                        {{ form.message.label }}<br>
                        {{ form.message }}
                        </div> <br>
                        <input type="submit" value="Send Message" class="button">
                    </form>
                    <div class="flash">
                        {% with messages = get_flashed_messages() %}
                          {% if messages %}
                            {% for message in messages %}
                              <h4>{{ message }}</h4>
                            {% endfor %}
                          {% endif %}
                        {% endwith %}
                        {% macro render_field(field) %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                              <h4>{{ error }}</h4>
                            {% endfor %}
                        {% endif %}
                        {% endmacro %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>