{% include 'header.html' %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='projects.css') }}" xmlns="http://www.w3.org/1999/html">
{% endblock %}
<body>
    <div class="container">
        <div class="container-left">
            {% include 'base.html' %}
        </div>
        <div class="conainer-right">
            <div class="project-heading">
                <span class="heading">My Projects</span>
                <p>
                    Welcome to my project portfolio, where I'm thrilled to present a diverse range of projects that I've
                    had the privilege to create. Each project represents a unique journey of exploration, innovation,
                    and dedication, showcasing my passion for technology and design. Here's a glimpse of some of the standout projects:
                </p>
            </div>
            <div class="grid-container">
                <div class="grid-item">
                    <img src="{{ url_for('static', filename='images/Strarting_image.jpg') }}" alt="project image">
                    <a target="_blank" href="https://github.com/itsabhi672/SnakeGame"><h3>Snake Game</h3></a>
                </div>
                <div class="grid-item">
                    <img src="{{ url_for('static', filename='images/EditMonkey.png') }}" alt="project image">
                    <a href="https://github.com/itsabhi672/Image-Editing-Website"><h3>Edit Monkey</h3></a>
                </div>
                <div class="grid-item">
                    <img src="{{ url_for('static', filename='images/laptop-image.jpg') }}" alt="project image">
                    <a href="https://github.com/itsabhi672/Flask-notes-app"><h3>Notesly</h3></a>
                </div>
                <div class="grid-item">
                    <img src="{{ url_for('static', filename='images/spaceInvader.png') }}" alt="project image">
                    <a href="https://github.com/itsabhi672/spaceInvader"><h3>Space Invader</h3></a>
                </div>
                <div class="grid-item">
                    <img src="{{ url_for('static', filename='images/laptop-image.jpg') }}" alt="project image">
                    <a><h3>Project Title</h3></a>
                </div>
                <div class="grid-item">
                    <img src="{{ url_for('static', filename='images/laptop-image.jpg') }}" alt="project image">
                    <a><h3>Project Title</h3></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>